<head>
  <%= stylesheet_link_tag 'movies', media: 'all' %>
</head>
<h1>MOVIES</h1>
<div class="page">
  <table class="movies">
    <thead>
      <tr>
        <% ['title', 'rating', 'release_date'].each do |col| %>
          <th class="<%= 'sorted-column ' + sort_class(col) if params[:sort] == col %>">
            <%= sortable(col, col.titleize) %> <%= sort_indicator(col) %>
          </th>
        <% end %>

        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td class="<%= 'sorted-column ' + sort_class('title') if params[:sort] == 'title' %>"><%= movie.title %></td>
          <td class="<%= 'sorted-column ' + sort_class('rating') if params[:sort] == 'rating' %>"><%= movie.rating %></td>
          <td class="<%= 'sorted-column ' + sort_class('release_date') if params[:sort] == 'release_date' %>"><%= movie.release_date %></td>
          <td>
            <%= link_to "Show", movie %> |
            <%= link_to "Edit", edit_movie_path(movie) %> |
            <%= link_to "Delete", movie, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">
          <%= link_to "+ New movie", new_movie_path %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

