<head>
  <%= stylesheet_link_tag 'movies', media: 'all' %>
</head>
<h1>MOVIES</h1>
<div class="page">
  <table class="movies">
    <thead>
      <tr>
        <th class="<%= 'sorted-column' if params[:sort] == 'title' %>">
          <%= sortable "title", "Title" %> <%= sort_indicator('title') %>
        </th>
        <th class="<%= 'sorted-column' if params[:sort] == 'rating' %>">
          <%= sortable "rating", "Rating" %> <%= sort_indicator('rating') %>
        </th>
        <th class="<%= 'sorted-column' if params[:sort] == 'release_date' %>">
          <%= sortable "release_date", "Release Date" %> <%= sort_indicator('release_date') %>
        </th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td class="<%= 'sorted-column' if params[:sort] == 'title' %>"><%= movie.title %></td>
          <td class="<%= 'sorted-column' if params[:sort] == 'rating' %>"><%= movie.rating %></td>
          <td class="<%= 'sorted-column' if params[:sort] == 'release_date' %>"><%= movie.release_date %></td>
          <td>
            <%= link_to "Show", movie %> 
          </td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="4">
          <%= link_to "+ New movie", new_movie_path %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

