<p style="color: green"><%= notice %></p>

<h1>Movie Details</h1>

<div class="movie-details">
  <%= render @movie %>

  <div>
    <%= link_to "Edit this movie", edit_movie_path(@movie), class: 'button' %> 
    <%= link_to "Back to movies", movies_path , class: 'button' %>

    <%= button_to "Destroy this movie", @movie, method: :delete, class: 'button delete-button' %>
  </div>
</div>
